@font-face {
	font-family: ProximaNova;
	src: url('../../assets/fonts/Proxima-Nova-Regular.woff2');
	font-weight: 400;
}
@font-face {
	font-family: ProximaNova;
	src: url('../../assets/fonts/ProximaNova-Semibold.woff2');
	font-weight: 600;
}
@font-face {
	font-family: SofiaPro;
	src: url('../../assets/fonts/sofiapro-medium.woff2');
	font-weight: 400;
}
@font-face {
	font-family: SofiaPro;
	src: url('../../assets/fonts/sofiapro-bold.woff2');
	font-weight: 700;
}

$font-proximaNova: 'ProximaNova', sans-serif;
$color-primary: rgba(22, 24, 35, 1);
$color-secondary: rgba(254, 44, 85, 1);
$color-tertiary: rgba(22, 24, 35, 0.75);
$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(22, 24, 35, 0.34);
$color-border: rgba(22, 24, 35, 0.12);
$color-bg-item: rgba(22, 24, 35, 0.03);
$color-tick: rgba(32, 213, 236, 1);
$width-container: 1150px;
$height-header: 60px;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: $font-proximaNova;
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	color: $color-primary;
	overflow-y: overlay;
}
.container {
	max-width: $width-container;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
html *::-webkit-scrollbar {
	border-radius: 0;
	width: 8px;
}
html *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(22, 24, 35, 0.06);
}
html *::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
label {
	margin-bottom: 0;
}
input,
select,
textarea,
button,
[tabIndex] {
	outline: transparent;
	border: transparent;
}
li {
	list-style: none;
}
a {
	display: block;
	text-decoration: none;
	color: $color-primary;
	line-height: 1.5;
	&:hover {
		text-decoration: none;
	}
}
img {
	width: 100%;
}
body {
	.tippy-box {
		font-size: 1.6rem;
		font-weight: 600;
		line-height: 2.2rem;
		border-radius: 8px;
		background: rgba(84, 84, 84, 0.92);
	}
	.tippy-content {
		padding: 8px 9px;
	}
	.tippy-arrow {
		color: rgba(84, 84, 84, 0.92);
	}
}
