@import '../../GlobalStyles/GlobalStyles.scss';
// Menu
.list {
	max-width: 224px;
	width: 100%;
	.item {
		margin-left: 0;
		padding: 9px 16px;
		width: 100%;
		text-align: left;
		border-radius: 0;
		font-size: 1.6rem;
		line-height: 2.2rem;
		&:hover {
			background: $color-bg-item;
		}
	}
	.separate {
		padding: 12px 16px;
		border-top: 1px solid $color-border;
	}
}

// Header
.header {
	position: relative;
	height: 50px;
}
.btn-back {
	width: 50px;
	height: 100%;
	background: transparent;
	cursor: pointer;
}
.language-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
